/* root */
:root {
  --blu: #4c5fd5;
  --blk: #000000;
  --gry: #dadbf1;
  --wht: #fff;
}

/* navbar */
.nav {
  background: var(--blk);
  padding: 1.1rem;
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .nav-left {
      width: 20rem;
      align-items: center;

      .logo {
        height: 2rem;
        display: inline-block;
        margin-bottom: 0.6rem;
        margin-right: 0.3rem;
      }
      .text {
        border-left: 2px solid var(--wht);
        color: var(--wht);
        font-size: 1.4rem;
        display: inline-block;
        padding-left: 0.8rem;
        font-weight: 400;
      }
    }

    .nav-right {
      button {
        display: inline-block;
        border-radius: 7px;
        font-size: 1.5rem;
        padding: 6px 1.4rem;
        margin-left: 1rem;
        transition: 0.4s ease;

        &:hover {
          background: var(--wht);
          color: var(--blk);
        }
      }

      .request {
        border: 1px solid var(--wht);
        background: rgba(0, 0, 0, 0);
        color: var(--wht);
      }

      .sign-in {
        border: none;
        border-radius: 5px;
        background: var(--blu);
        color: var(--wht);
      }
    }
  }
}
